# Flutter / Dart
.dart_tool/
.packages
build/
.flutter-plugins
.flutter-plugins-dependencies
pubspec.lock

# IDE
.idea/
*.iml
.vscode/*
!.vscode/launch.json
!.vscode/settings.json

# OS
.DS_Store
Thumbs.db
